{% extends 'base.html' %}
{% load main_tags %}
{% block content %}
<h1>{{ title|default:'without title'|capfirst }}</h1>

{% if index_list %}
<nav>
    {% for item in index_list %}
        {% if item.is_published %}
            <br>{{ item.title }}
            <br><em>{{ item.content }}</em>
            {% if item.photo %}
                <br><img src="{{ item.photo.url }}"  width="100" height="100">
            {% endif %}
            <br><a href="{{ item.get_absolute_url }}">Want to hire?</a><br>
        {% endif %}
    {% endfor %}
</nav>
{% else %}
{% include 'main/includes/incl.selected.html' %}
{% endif %}


{% show_all_tags %}
{% endblock %}
{% block navigation %} 
{% include 'main/includes/paginator.html' %}
{% endblock %}