{% extends 'base.html' %}
{% block content %}
<h2>{{ post.title|capfirst }}</h2>
<p>Category: {{ post.cat }}</p>
{% with post.tags.all as tags_html %}
{% if tags_html %}
<p>Tags:</p>
    {% for item in tags_html %}
    </t>{{ item.tag }}<br>
    {% endfor %}
{% endif %}
{%  endwith %}
{% if post.photo %}
    <img class="img-article-left" src="{{ post.photo.url }}" alt="Error"> 
{% endif %}

<p>{{ post.content }}</p>
{% if post.description %}
    <p>{{ post.description }}</p>
{% endif %}
{% endblock %}