{% include 'header.html' ignore missing %}
{% import 'test_macros.html' as dlg%}
<p>the body begin</p>
{{ dlg.dialog_1('Attention', 'This is a test dialog') }}
{% macro list_users(list_of_users) -%}
<ul>
{% for item in list_of_users -%}
    <li>{{ item.name }} {{ caller(item) }}</li>
{% endfor %}
</ul>
{%- endmacro %}

{% call(user) list_users(users) %}
    <ul>
    <li>age: {{user.age}}</li>
    <li>id: {{user.id}}</li>
    </ul>
{% endcall %}
{% block content %}
content
{% endblock %}
<p>the body end</p>
{% include 'footer.html' ignore missing %}